#container{
    display: grid;
    grid-template-columns: repeat(9, 11%);
    margin-right: 20%;  
    margin-left: 20%;
    margin-top: 10%;
    }
    input{
    height: 40px;
    text-align: center;
    font-size: 130%;
    }
    h1{
    text-align: center;
    }
    p{
    text-align: center
    }